In [1]:
import pandas as pd
import numpy as np

In [ ]:
# read the ufo.csv from the datasets folder into a DataFrame called 'ufo'
#ufo = pd.read_table('./data/ufo.csv', sep=',')
#ufo = pd.read_csv('./data/ufo.csv')

### EXERCISE I: Basic Summary Stats

In [1]:
### Display the head

In [2]:
# check the shape of the DataFrame

In [3]:
# calculate the most frequent value for each of the columns (in a single command)

In [4]:
# what are the four most frequent colors reported?

In [5]:
# for reports in VA, what's the most frequent city?

In [6]:
# show only the UFO reports from Arlington, VA

In [7]:
# count the number of missing values in each column

In [8]:
# show only the UFO reports in which the City is missing

In [9]:
# how many rows remain if you drop all rows with any missing values?

In [10]:
# replace any spaces in the column names with an underscore

In [11]:
# BONUS: redo the task above, writing generic code to replace spaces with underscores
# In other words, your code should not reference the specific column names

In [14]:
# BONUS: create a new column called 'Location' that includes both City and State
# For example, the 'Location' for the first row would be 'Ithaca, NY'

### EXERCISE TWO: Selecting Multiple Columns and Filtering Rows

In [ ]:
# select a couple of columns, let's say City and State and display them side by side

In [12]:
# create a list of column names...
# ...and use that list to select columns
# or, combine into a single step

In [14]:
# use loc to select columns by name such as City and State
# colon means "all rows", then select one column
# select two columns using loc
# select a range of columns using loc

In [13]:
# loc can also filter rows by "name" (the index)
# first display row 0, all columns
# next display rows 0/1/2, all columns
# finally display rows 0/1/2, range of columns

In [15]:
# use iloc to filter rows and select columns by integer position
# first select all rows, columns in position 0/3
# next select all rows, columns in position 0/1/2/3
# finally select rows in position 0/1/2, all columns

In [19]:
# replace all instances of a value in a column (must match entire value) using "replace" method

In [16]:
# string methods are accessed via 'str'. Use the "upper" and "lower" method to convert
# Use upper to convert Colors Reported to uppercase
# Use str.contains method to check for a substring "RED" in Colors Reported

In [ ]:
# convert a string to the datetime format. Use the pd.to_datetime() method to convert "Time"

In [17]:
# Use the dt.hour attribute of the converted column
#   to create a new column called "hour". Also use
#   a boolean filter to select rows greater than 2014-1-1

In [18]:
# setting and then removing an index. Set the index of the DF to "Time" and then remove it

In [19]:
# sort a column by using the sort_index() method

### Less Frequently Used Features

In [20]:
# Use astype() to Recast the State column to a 'category' data type 
##   It reduces memory usage and increases performance